html {
    filter: invert(1) hue-rotate(180deg);
  }
  
  img, picture, video, .grid-product__image-mask, .promo-grid__bg, .promo-grid__title,
  .predictive__image-wrap, .announcement-bar-color-anim, .announcement-bar-color-anim-alt, .product__photos,
   .payment-icons, .type-product__images, .type-sale-images__image, .type-advanced , .collection-item__title,
  .thumb-img, .site-header__logo {
    filter: invert(1) hue-rotate(180deg);
  }
  .type-simple .promo-grid__content:not(.promo-grid__content--boxed):not(.promo-grid__content--sale):after {
    background: radial-gradient(rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 60%);
  }
  .header-wrapper--sticky {
   background: linear-gradient(to bottom, rgba(255 ,255 ,255 ,0.3) 0%,rgba(255 ,255 ,255 ,0) 100%);
  }
  
  .header-wrapper--sticky .site-header:not(.site-header--stuck) {
    filter: invert(1) hue-rotate(180deg);
  }
  .image-wrap {
    filter: invert(1) hue-rotate(180deg);
  }
.scm, .thumb-img img, .flag-icon-background {
    filter: invert(1) hue-rotate(180deg);
}
  .collection-item:not(.collection-item--below) {
   &:after {
   @include overlay;
   background-color: white;
   }
     }
